<app-header></app-header>
<body style="background-color: #f6f9ff;">
<div class="container">
    <div class="row" id="adminRole" *ngIf="userType==='admin'">
           <div class="col-2  fixed-left taille" style="background-color:  rgb(41, 78, 157);">
            <div class="nav flex-column nav-pills mt-5 d-flex flex-column functions" style="Display:fixed; ">
              <h1 style="color: white;">Dashboard admin</h1><br><br>
              <a  style="color: white;" class="dropdown-item" (click)="toggleSection('utilisateur',$event)" href="#"><h6>&nbsp;Gestion utilisateur</h6></a><br>
              <a  style="color: white;" class="dropdown-item" (click)="toggleSection('Inscription',$event)" href="#"><h6>&nbsp;Inscription</h6></a>
            </div>
          </div> 
        </div>
        <div class="row" id="userRole" *ngIf="userType==='user'">
          <div class="col-2  fixed-left taille" style="background-color:  rgb(41, 78, 157);">
           <div class="nav flex-column nav-pills mt-5 d-flex flex-column functions" style="Display:fixed;">
             <h1 style="color: white;">Dashboard user</h1><br><br>
             <a  style="color: white;" class="dropdown-item"  href="#"><h6>&nbsp;tache 1</h6></a><br>
             <a  style="color: white;" class="dropdown-item"  href="#"><h6>&nbsp;tache 2</h6></a>
           </div>
         </div> 
       </div>    
        

    <div class="marget" id="utilisateur" [hidden]="!showSectionGestionUtilisateur">
     
        <div class="col-md-12 s8ir">

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="filtre sur tout les champs" [(ngModel)]="filterValue" (ngModelChange)="applyFilter()">
          <button class="btn btn-primary" >Filter</button> 
        </div>
      
        </div>

<div class="margett" >
    
<table class="table" *ngIf=" filterValue ==='' ">
    <thead>
        <tr>
            <th>ID<span class="arrow"   (click)="sortTable()"></span><span class="arrow"></span></th>
            <th>Name&nbsp;<span class="arrow" (click)="sortTableArrows('name','asc')">▲</span><span class="arrow" (click)="sortTableArrows('name','des')">▼</span></th>
            <th>Username&nbsp;<span class="arrow" (click)="sortTableArrows('username','asc')">▲</span><span class="arrow" (click)="sortTableArrows('name','des')">▼</span></th>
            <th>Email&nbsp;<span class="arrow" (click)="sortTableArrows('email','asc')">▲</span><span class="arrow" (click)="sortTableArrows('name','des')">▼</span></th>
            <th colspan="2">Action</th>
          </tr>
    </thead>
    <tbody class="table-light">
    <tr *ngFor="let user of getPaginatedData()" >
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>

        
          <a class="btn btn-primary tooltips" data-placement="top" (click)="showModal(user,'edit')"> 
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" style="color: white;" width="22" height="22" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4"></path>
              <path d="M13.5 6.5l4 4"></path>
           </svg>          
          </a>
        
        &nbsp;&nbsp;
        
          <a class="btn btn-danger tooltips" data-placement="top" (click)="showModal(user,'delete')">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" style="color: white;" width="22" height="22" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M4 7l16 0"></path>
              <path d="M10 11l0 6"></path>
              <path d="M14 11l0 6"></path>
              <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
              <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
           </svg>  
          </a>
  
        </td>
      </tr>
        </tbody>
      
  </table>
  
  <table class="table" *ngIf=" filterValue.length > 0">
    <thead>
      <tr>
        <th>ID<span class="arrow"   (click)="sortTable()"></span><span class="arrow"></span></th>
        <th>Name<span class="arrow" (click)="sortTableArrows('name','asc')">▲</span><span class="arrow" (click)="sortTableArrows('name','des')">▼</span></th>
        <th>Username<span class="arrow" (click)="sortTableArrows('username','asc')">▲</span><span class="arrow" (click)="sortTableArrows('name','des')">▼</span></th>
        <th>Email<span class="arrow" (click)="sortTableArrows('email','asc')">▲</span><span class="arrow" (click)="sortTableArrows('name','des')">▼</span></th>
        <th colspan="2">Action</th>
      </tr>
    </thead>
    <tbody class="table-light">
      
    <tr *ngFor="let user of filtredUsers " >
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>
          <a class="btn btn-primary tooltips" (click)="showModal(user,'edit')" data-placement="top" data-original-title="Edit" style="color:white;" >
            <i class="fa fa-pencil"></i> Edit
          </a>&nbsp;&nbsp;
          <a class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete" (click)="showModal(user,'delete')" style="color:white;" >
            <i class="fa fa-trash"></i> Delete
          </a>
        </td>
      </tr>
        </tbody>
      
  </table>
  <div class="paginator">
    <select class="form-select" [(ngModel)]="selectedLength">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>
    <button [disabled]="currentPage === 1" class="btn btn-success bold" (click)="updateCurrentPage('back')">&#8592;</button>
    <button [disabled]="currentPage === numberOfPages" class="btn btn-success" (click)="updateCurrentPage('next')">&#8594;</button>
  </div>
</div>
</div>





<!--INSCRIPTION -->

<div class="marget" id="Inscription" [hidden]="!showSectionInscription">

<app-header></app-header>
<div class="margett" >

<table class="table" >
<thead>
<tr>
    
      <th>ID</th>
      <th>Name&nbsp;</th>
      <th>Username&nbsp;</th>
      <th>Email&nbsp;</th>
      <th colspan="2">Action</th>
</tr>

</thead>
<tbody class="table-light">

  <tr *ngFor="let user of getPaginatedData()" >
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td>
      
        <a class="btn btn-primary tooltips" data-placement="top" data-original-title="Accepter" style="color:white;" >
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M5 12l5 5l10 -10"></path>
         </svg>
        </a>&nbsp;&nbsp;
        <a class="btn btn-danger tooltips" data-placement="top" data-original-title="Réfusé" style="color:white;" >
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M18 6l-12 12"></path>
            <path d="M6 6l12 12"></path>
         </svg>
        </a>
      
    
  </td>
</tr>
  </tbody>

</table>

<div class="paginator">
<select class="form-select" [(ngModel)]="selectedLength">
<option value="5">5</option>
<option value="10">10</option>
<option value="15">15</option>
<option value="20">20</option>
</select>
<button [disabled]="currentPage === 1" class="btn btn-success bold" (click)="updateCurrentPage('back')">&#8592;</button>
<button [disabled]="currentPage === numberOfPages" class="btn btn-success" (click)="updateCurrentPage('next')">&#8594;</button>
</div>
</div>



</div>
</div>




<div class="modal-overlay" [ngClass]="{'open': showModalFlag}" *ngIf="showModalFlag">
  <div class="modal">
    <div class="modal-header">
      <h2>User Details</h2>
      <button class="close-btn" (click)="hideModal()">X</button>
    </div>
    <table class="user-details-table">
      <tr>
        <th>ID:</th>
        <td>{{selectedUser?.id}}</td>
      </tr>
     
        <tr>
          <th>Name:</th>
          <ng-container *ngIf="selectedUser">
            <td *ngIf="operation==='delete'">{{selectedUser?.name}}</td> 
            <td *ngIf="operation==='edit'"><input style="width:300px;" type="text" value="{{selectedUser?.name}}"></td>
          </ng-container>
        </tr>
        <tr>
          <th>Email:</th>
          <td *ngIf="operation==='delete'">{{selectedUser?.email}}</td> 
          <td *ngIf="operation==='edit'"> <input style="width:300px;"type="text" value="{{selectedUser?.email}}"></td>
        </tr>
     
        
     
      
    </table>
      <br>
    <button class="btn btn-primary" *ngIf="operation==='delete'" (click)="onDeleteUser( selectedUser)">valider la suppression</button>


    <button class="btn btn-primary" *ngIf="operation==='edit'" (click)="onUpdateUser( selectedUser,selectedUser.id)">valider la modification</button>
  
</div>
</div>



</body>
